*,
*::before,
*::after {
  -webkit-box-sizing: border-box; /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box; /* for Mozilla Firefox */
  -ms-box-sizing: border-box; /* for Microsoft's Internet Explorer */
  box-sizing: border-box; /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);

  /*  position: relative; */
  min-height: 100vh; /* vh (viewport height as unit of measure)) */
  margin: 0;
}

main h1,
h2 {
  text-align: center;
}

.book-list {
  margin: 1rem;
  border: 2px solid #000;
}

.bookInfo {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.bookInfo:nth-child(odd) {
  background-color: rgb(233, 233, 233);
}

.divider {
  margin: 50px 40%;
  width: 20%;
  border: 2px solid #000;
}

#add-books-form {
  margin: 0 20%;
  width: 60%;
}

#add-books-form input {
  height: 30px;
  border: 3px solid #000;
  width: 100%;
}

button {
  background-color: white;
  border: solid black 2px;
  box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.75);
}

form button {
  display: block;
  margin-left: auto;
}
